<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio Familiares</title>
    <!--Se da estilo a la tabla-->
    <style>
        table {
            border: 1px solid;
            width: 25%;
        }
        th {
            border: 1px solid;
        }
        td {
            border: 1px solid;
            text-align: center;
        }
        </style>
</head>
<body>
    <!--Se genera tabla con los datos de los familiares-->
    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Fecha Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <!--Se utiliza un for para extraer los datos-->
            {% for item in listaFamiliares %}
          <tr>
            <td>{{item.nombre}}</td>
            <td>{{item.edad}} Años</td>
            <td>{{item.fecha|date:"d-m-Y"}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    
</body>
</html>